@import url('https://fonts.googleapis.com/css?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';
    color: #2E232E;

}

h1 {
    font-family: 'BioRhyme';
    color: #2E232E;
    text-shadow: none;
}

.home {
    display: flex;
    justify-content: space-between;
}

.leftSide {
    align-content: flex-start;
}