.comedian {
    padding-top: 1em;
}

.comedian__comments {
    padding-top: 2px;
    padding-bottom: 3px;
}

.comedian__toWatch {
    padding-top: 2px;
}

.comedian__podcast {
    padding-top: 2px;
}

.comedianList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comedianListTwo {
    flex-basis: 25%
}

h1 {
    text-align: center ;
}

.topOfPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}