@import url('https://fonts.googleapis.com/css?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';
    color: #2E232E;
}

.special {
    padding-left: 5px;
}

.special__userRating {
    padding-top: 2px;
}

.special__length {
    padding-top: 2px;
}

.special__platform {
    padding-top: 2px;
}

.special__cost {
    padding-top: 2px;
}

.special__clean {
    padding-top: 2px;
}

.special__comments {
    padding-top: 2px;
}

.special__genre {
    padding-top: 2px;
}

.special__user {
    padding-top: 2px;
    padding-bottom: 3px;
}

.specialList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.specialListTwo {
    flex-basis: 20%;
    margin: 10px;
    padding: 5px;
    background-color: #F5F5F5;
}



.specialListTwo:nth-child(3n+3) {
    border: 2px solid #004452;
    border-top: 30px solid #004452;
    color:#2E232E;
    border-radius: 35px;
}

.specialListTwo:nth-child(3n+3):hover {
    border: 2px solid #004452;
    border-top: 30px solid #004452;
    color:#2E232E;
    border-radius: 5px;
}

.specialListTwo:nth-child(3n+1) {
    border: 2px solid #6F2C3E;
    border-top: 30px solid #6F2C3E;
    color: #2E232E;
    border-radius: 35px;
}

.specialListTwo:nth-child(3n+1):hover {
    border: 2px solid #6F2C3E;
    border-top: 30px solid #6F2C3E;
    color: #2E232E;
    border-radius: 5px;
    transition-delay: all 2s ease
}

.specialListTwo:nth-child(3n+2) {
    border:2px solid #CC8500;
    border-top: 30px solid #CC8500;
    color: #2E232E;
    border-radius: 35px;
    transition-delay: .5s ease
}

.specialListTwo:nth-child(3n+2):hover {
    border:2px solid #CC8500;
    border-top: 30px solid #CC8500;
    color: #2E232E;
    border-radius: 5px;
    transition-delay: .9s;
}

h1 {
    text-align: center ;
    font-family: 'BioRhyme';
    color: #2E232E;
    text-shadow: none;
}

h4 {
    text-align: center ;
    font-family: 'BioRhyme';
    text-shadow: none;
}

a:link, a:visited, a:active, a:hover {
    color: #2E232E;
    text-shadow: none;
}

.topOfPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.button--addSpecial {
    outline: none;
    background: none;
    transition: .5s;
    font-family: 'Montserrat';
    border-radius: 2px;
    padding: 5px;
    margin: 7px;
    border: 1px solid #2E232E;
}
.button--addSpecial:hover {
    transform:scale(1.1); 
    border: none;
}

.deleteSpecial {
    outline: none;
    background: none;
    font-family: 'Montserrat';
    border-radius: 2px;
    padding: 5px;
    margin: 7px;
    border: none;
    color: #6F2C3E;
    
}

.deleteSpecial:hover {
    transform:scale(1.1); 
    border: none;
} 

.button--specialDetails {
    outline: none;
    background: none;
    font-family: 'Montserrat';
    border-radius: 2px;
    padding: 5px;
    padding-top: 15px;
    margin: 7px;
    border: none;
    color: #2E232E;
}
.button--specialDetails:hover {
    transform:scale(1.1); 
    border: none;
}



.special--search {
    color: #2E232E
}

.specialDropdown {
    color: #2E232E;
    text-shadow: none;
} 

.specialDropdown__header {
    color: #2E232E;
    text-shadow: none;
}

.special__details {
    border-radius: 2px;
    border: 2px solid #6F2C3E;
    border-top: 30px solid #6F2C3E;
   margin-top: 30px;
   margin-left: 300px;
   margin-right: 300px;
    color: #2E232E;
    padding-left: 5px;
    background-color: #F5F5F5;
}

h3, h2 {
    text-align: center;
    color: #2E232E;
}


.button--details {
    outline: none;
    background: none;
    transition: .5s;
    font-family: 'Montserrat';
    border-radius: 2px;
    padding: 2px;
    margin-top: 10px;
    margin: 7px;
    border: 1px #2E232E;
}

.button--deleteSpecial {
    outline: none;
    background: none;
    transition: .5s;
    font-family: 'Montserrat';
    border-radius: 2px;
    padding: 2px;
    margin: 7px;
    color: #6F2C3E;
    border: none;
}

.button--details:hover {
  
    transform:scale(1.1); 
    border: none;
}

.button--deleteSpecial:hover {
  
    transform:scale(1.1); 
    border: none;
}

.form-section {
    margin: 10px;
    padding: 10px;
}

.specialForm {
    border: 2px solid #6F2C3E;
    border-top: 30px solid #6F2C3E;
    margin-top: 30px;
   margin-left: 300px;
   margin-right: 300px;
    color: #2E232E;
    padding-left: 5px;
}

.button--save {
    outline: none;
    background: none;
    transition: .5s;
    font-family: 'Montserrat';
    border-radius: 2px;
    padding: 5px;
    margin: 7px;
    border: 1px solid #2E232E;
}
.button--save:hover {
    transform:scale(1.1); 
    border: none;
}