@import url('https://fonts.googleapis.com/css?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#logo {
    height: 95px;
    width: 305px
}


.navBar {
    background-color: #FFE3D6;
    display: flex;
    justify-content: space-between;
}

.navbar__left {
    align-self: flex-start;
}

.navbar__right {
    display: flex;
    justify-content: flex-end;
}

.nav__button {
    outline: none;
    background: none;
    transition: .5s;
    font-family: 'Montserrat';
    border-radius: 2px;
    padding: 2px;
    margin: 7px;
    border: 1px #002A32;
    
}

.nav__button:hover {
  
    transform:scale(1.1); 
    border: none;
}